/*Secondary CSS for each page layout on each modules*/
/*NOTE: Supporting CSS assisted by extension*/
 
/*For Introduction page*/
 .u-section-1 {
  background-image: none;
  min-height: 749px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 773px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 0 0 24px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-style: normal;
  margin: 44px 75px 0 24px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 773px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 401px;
  height: 345px;
  object-position: 59.83% 100%;
  margin: 101px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 661px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 33px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 580px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 420px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 444px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 310px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 721px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 98px;
    padding-left: 87px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 402px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 482px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 293px;
  }

/*Development Doc section*/
}.u-section-2 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 47px 0 0;
}

.u-section-2 .u-group-1 {
  width: 583px;
  height: auto;
  min-height: 810px;
  background-image: none;
  margin: 66px 22px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 810px;
  width: 583px;
  margin: 0;
}

.u-section-2 .u-shape-1 {
  width: 501px;
  height: 458px;
  background-image: none;
  --radius: 15px;
  margin: -810px auto 0 22px;
}

.u-section-2 .u-text-2 {
  line-height: 1.6;
  font-weight: 700;
  font-size: 1.5rem;
  margin: -435px 633px 0 38px;
}

.u-section-2 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-size: 3.75rem;
  background-image: none;
  font-weight: 700;
  margin: 66px auto 60px 116px;
  padding: 13px 73px 15px 71px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-2 .u-group-1 {
    --radius: 20px;
    margin-right: 72px;
    height: auto;
  }

  .u-section-2 .u-custom-html-1 {
    width: 512px;
  }

  .u-section-2 .u-shape-1 {
    --radius: 20px;
    margin-left: 112px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 474px;
    margin-left: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 77px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-2 .u-group-1 {
    width: 572px;
    margin-right: 182px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 222px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 200px;
    margin-right: 364px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 32px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 272px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 3px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -330px;
    margin-left: 400px;
    margin-right: 400px;
  }

/*Creative Coding section*/
} .u-section-3 {
  background-image: linear-gradient(#e9f2fa, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 43px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  width: 691px;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-3 .u-blog-1 {
  width: 1162px;
  margin: 22px auto 0 -22px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 545px;
  grid-gap: 22px;
}

.u-section-3 .u-repeater-item-1 {
  background-size: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  height: 341px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.5rem;
  margin: 53px auto 0;
  padding: 27px 63px 28px 62px;
}

.u-section-3 .u-repeater-item-2 {
  background-size: auto;
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  height: 341px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1.5rem;
  margin: 53px auto 0;
  padding: 27px 63px 28px 62px;
}

.u-section-3 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-image-3 {
  height: 341px;
  margin-top: -20px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-3 {
  font-size: 1.5rem;
  margin: 53px auto 0;
  padding: 27px 63px 28px 62px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-blog-1 {
    height: auto;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -284px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -284px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-blog-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-3 .u-blog-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-blog-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

/*Website Development section*/
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-4 .u-shape-1 {
  height: 370px;
  background-image: none;
  margin-top: 285px;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  height: 645px;
  object-position: 0% 50%;
  margin-top: -645px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 585px;
  min-height: 550px;
  height: auto;
  margin: 0 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 40px 33px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 89px auto 0 0;
  padding: 21px 67px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    line-height: 2;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

/*Ideation section*/
} .u-section-5 {
  background-image: none;
  min-height: 1404px;
}

.u-section-5 .u-group-1 {
  min-height: 1378px;
  height: auto;
  margin: -77px 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.125rem;
  width: 888px;
  margin: 4px auto 0;
}

.u-section-5 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.5rem;
  margin: 28px 161px 0 146px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  margin: -1087px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 12px));
  min-height: 893px;
  grid-gap: 18px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-4 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-6 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-8 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-10 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-12 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-5 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  height: 239px;
  margin: 0;
}

.u-section-5 .u-text-14 {
  background-image: none;
  letter-spacing: 2px;
  margin: 28px 0 0;
}

.u-section-5 .u-text-15 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  margin: 16px 0 0 4px;
}

.u-section-5 .u-btn-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1334px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    width: 880px;
  }

  .u-section-5 .u-text-3 {
    width: 880px;
    margin-left: 46px;
    margin-right: 61px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 12px));
    min-height: 734px;
  }

  .u-section-5 .u-image-1 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    padding: 0;
  }

  .u-section-5 .u-image-2 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    padding: 0;
  }

  .u-section-5 .u-image-3 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    padding: 0;
  }

  .u-section-5 .u-image-4 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-4 {
    padding: 0;
  }

  .u-section-5 .u-image-5 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-5 {
    padding: 0;
  }

  .u-section-5 .u-image-6 {
    height: 189px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-15 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    padding: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1873px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .u-section-5 .u-text-2 {
    width: 660px;
  }

  .u-section-5 .u-text-3 {
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 1407px;
  }

  .u-section-5 .u-image-1 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-5 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-6 {
    height: 224px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 4302px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.77778rem;
  }

  .u-section-5 .u-text-2 {
    width: 520px;
  }

  .u-section-5 .u-text-3 {
    width: 520px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-3 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-4 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-5 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-13 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-6 {
    height: 388px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-15 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 3454px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 75px;
    padding-right: 70px;
    padding-left: 65px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 320px;
  }

  .u-section-5 .u-text-3 {
    width: 320px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 2981px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-7 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 239px;
    margin-right: initial;
    margin-left: initial;
  }

/*Footer section (NOTE: edit from template*/
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1296px;
}

.u-section-6 .u-text-1 {
  width: 492px;
  font-size: 3.75rem;
  margin: 24px auto 0;
}

.u-section-6 .u-text-2 {
  width: 492px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  width: 756px;
  margin: 24px auto 0;
}

.u-section-6 .u-shape-1 {
  width: 1086px;
  height: 785px;
  background-image: linear-gradient(#41807c, #2cccc4);
  --radius: 50px;
  margin: 66px auto 0;
}

.u-section-6 .u-blog-1 {
  margin-top: -785px;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 570px 570px;
  grid-template-columns: repeat(2, 50%);
  min-height: 682px;
  grid-gap: 0px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 516px;
  height: 679px;
  margin: 1px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 516px;
  height: 679px;
  margin: 1px auto 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 4px 659px 0 66px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -73px 129px 0 699px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  border-style: solid;
  margin: 53px auto 60px;
  padding: 10px 39px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 570px;
    margin-top: 729px;
  }

  .u-section-6 .u-blog-1 {
    margin-top: -891px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 50%;
    min-height: 452px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 29px;
    margin-left: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-text-4 {
    margin-right: 305px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-6 .u-shape-1 {
    width: 540px;
    margin-top: 697px;
  }

  .u-section-6 .u-blog-1 {
    margin-top: -859px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    margin-right: 125px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
    margin-left: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    margin-top: 469px;
  }

  .u-section-6 .u-blog-1 {
    margin-top: -631px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 447px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 447px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 28px;
  }
}